{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Rechercher {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Recherche' %}


{# Define Content #}
{% block content %}

    <div class="row">

        <h1> Rechercher </h1>

    </div>

{% endblock %}