{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Accueil {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Accueil' %}

{# Define Content #}
{% block content %}

	<div class="animation" id="headerHome" class="row">
		<h1 id="community"> COMMUNAUTE DE <br> PARTAGE DE LIVRES </h1>
		<p>Libérez vos livres pour faire du monde une bibliothèque!</p>
		<p><a class="btnInscriptionHome" href="">DÉCOUVRIR</a></p>

		<div id="bottomHome">
			<p> Vous possédez un livre que vous souhaitez mettre à la disposition de la communauté ou que vous voulez libérer dans la nature?
			<span id="nbreEtapes"> 3 ETAPES SUFFISENT ! </span>
		</div>
	</div>

	<main id="mainHome">

		<section id="steps">

			<article class="step" id="">
				<div class="container">
					<div class="divStep row">
						<div class="col-md-6 animation midHeight">
							<div class="largeImage animation midHeight">
								<img src="" alt="Image">
							</div>
						</div>
						<div class="col-md-1 animation">
							<p class="stepNumber">1</p>
						</div>
						<div class="col-md-5 text animation midHeight">
							<h2>Étiquetez</h2>
							<p>Enregistrez le livre sur le site, <br>
							    Il vous sera fourni un numéro d'identifiant unique (BCID). <br>
								Ce numéro suivra votre livre tout au long de son périple. <br>
								Récupérez une étiquette (lien vers téléchargement) <br>
								Indiquez le BCID et collez le sur votre livre.
							</p>
							<p class="button"><a href="">DÉCOUVRIR</a></p>
						</div>
					</div> <!-- row -->
				</div> <!-- container -->
			</article>

			<article class="step" id="">
				<div class="container">
					<div class="divStep row">
						<div class="col-md-1 animation">
							<p class="stepNumber">2</p>
						</div>
						<div class="col-md-5 text animation midHeight">
							<h2>Partagez</h2>
							<p> Plusieurs possibilités s'offrent à vous : <br>
								• libération contrôlée : partagez votre livre avec un ami, un collègue ou un membre du site. Ce mode vous permet de connaître la prochaine destination de votre livre. <br>
								• libération 'sauvage' : libérez votre livre dans un lieu publique (parc, gare, café,...) et laissez le hasard prendre les choses en main. <br>
								Qui sait quelles seront les futures pérégrinations de votre livre ?
							</p>
							<p class="button"><a href="">DÉCOUVRIR</a></p>
						</div>
						<div class="col-md-6 animation midHeight">
							<div class="largeImage inverseXL animation midHeight">
								<img src="" alt="Image">
							</div>
						</div>
					</div> <!-- row -->
				</div> <!-- container -->
			</article>


			<article class="step" id="">
				<div class="container">
					<div class="divStep row">
						<div class="col-md-6 animation midHeight">
							<div class="largeImage animation midHeight">
								<img src="" alt="Image">
							</div>
						</div>
						<div class="col-md-1 animation">
							<p class="stepNumber">3</p>
						</div>
						<div class="col-md-5 text animation midHeight">
							<h2>Suivez</h2>
							<p> Connectez vous sur le site et suivez le trajet de votre livre. <br>
								Grâce au BCID vous serez en mesure de savoir qui a lu votre livre, <br>
								les différentes étapes de son voyage ainsi que les commentaires laissés <br>
								par d'autres lecteurs. Certains livres resteront près de chez vous, d'autres <br>
								feront le tour du monde.
							</p>
							<p class="button"><a href="">DÉCOUVRIR</a></p>
						</div>
					</div> <!-- row -->
				</div> <!-- container -->
			</article>

			<article class="teasers" id="">
				<div class="container">
					<div class="divStep row">
						<div class="col-md-12 animation">
							<img class="appIcons" src="" alt="">
							<img class="appIcons" src="" alt="">
							<a class="btnInscriptionHome2" href="">JE M"INSCRIT GRATUITEMENT</a>
						</div>
					</div> <!-- row -->
				</div> <!-- container -->
			</article>

			<article class="teasers" id="">
				<div class="container">
					<div class="divStep row">
						<div class="col-md-12 animation">
							<h2>Plus de XXX livres partagés en france </h2>
							<img class="picsComunity" src="" alt="">
							<img class="picsComunity" src="" alt="">
							<a class="btnInscriptionHome2" href="">REJOIGNEZ LA COMMUNAUTE AUJOURD"HUI</a>
						</div>
					</div> <!-- row -->
				</div> <!-- container -->
			</article>

		</section>
	</main>

{% endblock %}
