{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Inscription {% endblock %}


{# Define Content #}
{% block content %}


    <div class="row">

        <h1> Inscription </h1>

        <div class="col-md-offset-3 col-md-6">
            <!-- Inscription form -->
            <form id="formUserInscription" action="" method="">

                <!-- Pseudo -->
                <div class="form-group">
                    <label for="pseudoUser">Pseudo *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" name="pseudoUser" id="pseudoUser" class="form-control" required>
                    </div>
                    <!-- Help-text -->
                    <p id="pseudo-helptext">Votre Pseudo doit contenir au moins 6 caractères et un 1 chiffre</p>
                    <!-- Pseudo Errors -->
                    <p class="error alert alert-danger">Vous n'avez pas indiqué votre Pseudo</p>
                    <p class="error alert alert-danger">Votre Pseudo doit contenir au moins 6 caractères et un 1 chiffre</p>
                    <p class="error alert alert-danger">Ce pseudo existe déjà</p>
                </div>
                <!-- Email -->
                <div class="form-group">
                    <label for="mailUser">Email *</label>
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        <input type="email" name="mailUser" class="form-control" required>
                    </div>
                    <p class="error alert alert-danger">Vous n'avez pas indiqué votre Email</p>
                    <p class="error alert alert-danger">Email Incorrect</p>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="passUser">Mot de passe *</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="ion-android-lock"></span></div>
                        <input type="password" name="passUser" id="passUser" class="form-control" required>
                    </div>
                    <!-- Help-text -->
                    <p id="pass-helptext">Votre mot de passe doit contenir au moins 8 caractères, une majuscule et un chiffre</p>
                    <!-- Password Errors -->
                    <p class="error alert alert-danger">Vous n'avez pas indiqué votre Mot de passe</p>
                    <p class="error alert alert-danger">Mot de passe doit contenir au moins 8 caractères</p>
                    <p class="error alert alert-danger">Le mot de passe doit contenir au moins une majuscule</p>
                    <p class="error alert alert-danger">Le mot de passe doit contenir au moins un chiffre</p>
                </div>
                <!-- Address -->
                <div class="form-group">
                    <label for="addressUser">Adresse *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="text" name="addressUser" class="form-control" required>
                    </div>
                    <p class="error alert alert-danger">Vous n'avez pas indiqué votre adresse</p>
                    <p class="error alert alert-danger">Adresse incorrecte</p>
                </div>
                <!-- Picture -->
                <div class="form-group">
                    <label for="photoUser">Avatar</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                        <input type="text" name="photoUser" class="form-control">
                    </div>
                    <p class="error alert alert-danger">L'image est trop lourde</p>
                    <p class="error alert alert-danger">L'image doit être au format: jpg, jpeg ou png</p>
                </div>
                <!-- Submission -->
                <div class="form-group text-center">
                    <input type="submit" name="btnSub" value="Entrer" id="btnUserInscription" class="btn btn-success">
                </div>

            </form>
        </div> <!-- col-md -->

    </div> <!-- row -->

{% endblock %}
