{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Inscription {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Inscription' %}

{# Define Content #}
{% block content %}


    <div class="row">

        <h1> Inscription </h1>

        

    </div> <!-- row -->

{% endblock %}
