{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{#  Define Title #}
{% block title %} Mot de passe perdu {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'resetPassword' %}

{# Define Content #}
{% block content %}
{% if parameters is defined %}{{dump(parameters)}}{% endif %}



    <div class="row">

        <h1> Mot de passe perdu </h1>

        <div class="col-md-offset-3 col-md-6">

            {% if reset is defined %}
                <div class="alert alert-success">
                    <p class="text-center">
                        Un message contenant un lien pour modifier votre mot de passe vient de vous être envoyé.
                        Vérifier vos messages.
                    </p>
                </div>

            {% else %}
            <!-- Form: Reset Paasword -->
            <form id="formResetPassword" action="" method="POST">

                <!-- Email -->
                <div class="form-group">
                    <label for="mail_member">Email *</label>
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        {{ form_widget(form.mail_member) }}
                    </div>
                    {{ form_errors(form.mail_member) }}
                </div>
                        {{ form_row(form._token) }}

                <!-- Submission -->
                <div class="form-group text-center">
                    <input type="submit" name="btnSub" value="Entrer" id="btn_memberInscription" class="btn btn-success">
                </div>

            </form>
            {% endif %}
        </div> <!-- col-md -->

    </div> <!-- row -->


{% endblock %}
