{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{#  Define Title #}
{% block title %} Créer un nouveau mot de passe {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'resetPassword2' %}

{# Define Content #}
{% block content %}


    <div class="row">

        <h1> Créer un nouveau mot de passe </h1>

        <div class="col-md-offset-3 col-md-6">
            <!-- Form: Reset Paasword -->
            <form id="formResetPassword2" action="" method="POST">

                <!-- Email -->
                <div class="form-group">
                    <label for="mail_member">Email *</label>
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        {{ form_widget(form.mail_member) }}
                    </div>
                    {{ form_errors(form.mail_member) }}
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="pass_member">Mot de passe *</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="ion-android-lock"></span></div>
                        {{ form_row(form.pass_member) }}
                    </div>
                    <!-- Help-text -->
                    <p id="pass-helptext">Votre mot de passe doit contenir au moins 8 caractères, une majuscule et un chiffre</p>
                    <!-- Password Errors -->
                    <p class="error alert alert-danger">Vous n'avez pas indiqué votre Mot de passe</p>
                    <p class="error alert alert-danger">Mot de passe doit contenir au moins 8 caractères</p>
                    <p class="error alert alert-danger">Le mot de passe doit contenir au moins une majuscule</p>
                    <p class="error alert alert-danger">Le mot de passe doit contenir au moins un chiffre</p>
                </div>

                {{ form_row(form._token) }}

                <div class="form-group text-center">
                    <input type="submit" name="btnSub" value="Entrer" id="btn_memberInscription" class="btn btn-success">
                </div>


            </form>

        </div> <!-- col-md -->

    </div> <!-- row -->


{% endblock %}
