<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block seodescription '' %}" />
        <meta name="keywords" content="livres voyageurs, partage de livres, communaute de partage, recyclage de livres, donner ses livres" />
        <meta name="author" content="LOIC GALLAY ET LAURA TRAORE" />
        <title>{% block title '' %} - Les Livres Voyageurs</title>

        <!-- CSS & JS Block -->
        {% block stylesheets %}{% endblock %}
		<!-- Javascripts block -->
		{% block javascripts %}{% endblock %}
	</head>

	<body>
		<!-- Loader -->
		<div class="loader"></div>

		<div class="page">

			<div class="bg-clipper">
				<div class="bg">
					<svg viewBox="0 0 2226 700" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g transform="translate(-48.000000, 0.000000)" fill="#F4F5F9">
								<path d="M2136.6539,-1655.83407 C2014.7162,-1777.78223 1808.00357,-1784.65018 1646.19595,-1851.74958 C1490.09758,-1916.47891 1340.41421,-2060 1160.91003,-2060 C981.405859,-2060 831.722489,-1916.47891 675.63465,-1851.74958 C513.816497,-1784.66071 307.114401,-1777.78223 185.166169,-1655.8446 C63.2284698,-1533.89644 56.349987,-1327.18393 -10.7494551,-1165.37641 C-75.4682891,-1009.28866 -219,-859.594847 -219,-680.090778 C-219,-500.597242 -75.4682891,-350.903426 -10.7494551,-194.805145 C56.349987,-33.0081553 63.2284698,173.714887 185.166169,295.652514 C307.103868,417.590141 513.816497,424.46862 675.63465,491.568022 C831.722489,556.297352 981.405859,699.818445 1160.91003,699.818445 C1340.41421,699.818445 1490.09758,556.297352 1646.19595,491.568022 C1808.00357,424.46862 2014.7162,417.590141 2136.6539,295.652514 C2258.60213,173.714887 2265.47008,-33.0081553 2332.56952,-194.805145 C2397.29889,-350.903426 2540.82007,-500.597242 2540.82007,-680.090778 C2540.82007,-859.594847 2397.29889,-1009.28866 2332.56952,-1165.37641 C2265.47008,-1327.18393 2258.60213,-1533.89644 2136.6539,-1655.83407 Z"></path>
							</g>
						</g>
					</svg>
				</div>
			</div>

			<!-- Menu using HttpFragmentServiceProvider -->
			{{ render(controller('LivresVoyageurs\\Controller\\UserController::menu', {'active_page' : active_page})) }}
			<!-- 2nd Menu using HttpFragmentServiceProvider -->
			{{ render(controller('LivresVoyageurs\\Controller\\UserController::secondMenu', {'active_page' : active_page})) }}

			<div class="container">

				<!-- Content Block -->
				{% block content %}{% endblock %}

			</div>

				<!-- Include Footer -->
			{% include 'inc/footer.html' %}


		</div>
	</body>
</html>
