@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* 
* =======================================================
*
* 	GENERAL
*
* ======================================================= 
*/
html , body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.container {
    height: 100%;
    width: 75%;
    margin: auto;
}

.page {
    min-height: 100vh;
}

ul {
    list-style: none;
}
li {
    padding: 0;
    margin: 0;
}
a:hover, a:active, a:focus {

}

p, figure {

}

h1, h2, h3, h4, h5, h6 {

}

.displayFlex {
    display: flex;
}


h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    margin: 35px 0 20px 0;
}

/* 
* =======================================================
*
* 	MENU
*
* ======================================================= 
*/
.all-menus {
    flex-direction: column;
    padding-top: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

#company {
    font-size: 2em;
    color: #00ADEE;
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 16px 0;
    background-color: #F4F5F9;
}

.space {
    justify-content: space-between;
    height: 80px;
}
.left-menu {
    // padding-left: 200px;
    // height: 300px;
}
.right-menu { 
    align-items: center;
}

.right-menu li {
    padding: 15px; 
}
.right-menu a {
    font-size: 1.2em;
    padding: 10px; 
    color: #343f45;
}
.right-menu a:hover {
    text-decoration: none;
    color: darkgrey;
}
.blackBorder {
    border: 0.7px solid #343f45;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    // box-shadow: inset 0 0 0 2px #343f45;
    letter-spacing: .21px;  
}

/* 
* =======================================================
*
*   SECOND	MENU
*
* ======================================================= 
*/

.right-menu2 {
    width: 100%;
    justify-content: flex-end;
    margin-top: 15px;
}
.right-menu2 li {
    padding: 15px; 
}
.right-menu2 a {
    font-size: 1.3em;
    padding: 10px; 
    color: #343f45;
}
.right-menu2 a:hover {
    text-decoration: none;
    color: darkgrey;
}


/* 
* =======================================================
*
* 	MAIN
*
* ======================================================= 
*/

#contact {
    height: 100%;
}

/* 
* =======================================================
*
* 	FOOTER
*
* ======================================================= 
*/



/* 
* =======================================================
*
* 	RESPONSIVE: MEDIA-QUERY
*
* ======================================================= 
*/