.nav-tabs {
  margin-top: 40px;
  margin-top: 20px;
}

a {
  color: #5aacba;
}

.deleteDiv {
  margin-top: 20px;
}

.modal-header {
  background-color: #a2d0d8;
  color: white;
}

#myModal {
  margin-top: 300px;
}

.modal-dialog {
  width: 450px;
}

.modal-dialog h4 {
  font-size: 1.8em;
  margin: 12px;
}

.modal-dialog p {
  font-size: 1.15em;
}

.close {
  color: black;
}

.modal-footer {
  background-color: #f4f5f9;
}
