{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Messagerie Instantanée {% endblock %}

{#  Breadcrumb trail #}
{% set active_page = 'Chat' %}

{# Define Content #}
{% block content %}
    
    {# Display massages #}
    <div>
        <ul id="messages"></ul>
    </div>

    {# Send Messages #}
	<form id="formMessage" action="">
        <input type="hidden" id="receiver" name="receiver" value="{{ receiver }}">
        <input type="hidden" id="sender" name="sender" value="{{ sender }}">
		<input id="msg" name="msg" autocomplete="off" />
        <button>Envoyer</button>
	</form>
    <button id="disconnect">Déconnexion</button>

    {# Messages management by socket.IO #}
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script>
        // Define a sender
        var sender = $('#sender').val();
		// Define Socket
		var socket = io('http://localhost:3000/');
		
        socket.emit('join', $('#sender').val());
        {# socket.emit('initiate private message', $('#receiver').val()); #}
		{# Sender Side #}
		$('#formMessage').submit(function(event){
            
			socket.emit('chat message', { msg: $('#msg').val(), from: $('#sender').val(), to: $('#receiver').val() });
			$('#msg').val('');
			event.preventDefault();
		});
        {# General #}
		{# socket.emit('connect', , {user: $('#sender').val()} ); #}
        $('#disconnect').click(function(){
			socket.disconnect();
		});
		
		{# Receiver side #}
		socket.on('chat message', function(data){
			$('#messages').append($('<li>').append( data.from,': ', data.msg));
		});
        {# General #}
		socket.on('connect', function () {
			$('#messages').append($('<li style="color:red">').append('Vous êtes connecté'));
		});
        socket.on('member', function(name){
            if(name != sender)
            {
			    $('#messages').append($('<li style="color:red">').append( name,' est connecté '));
            }
		});
        socket.on('memberGone', function(nameMember){
			$('#messages').append($('<li style="color:red">').append( nameMember,' est déconnecté '));
		});
        socket.on('private room created', function (room) {
			$('#messages').append($('<li>').append('private room created'));
		});
        socket.on('private chat message', function (data) {
			$('#messages').append($('<li>').append(data));
		});
		socket.on('disconnect', function () {
			$('#messages').append($('<li style="color:red">').append('Vous êtes déconnecté'));
		});
        socket.on('error', function(err) {
                $('#messages').append($('<li class="alert alert-danger">').append(err));
        });
	</script>

{% endblock %}