/*Stylesheet for stickers*/
h1{
    text-align: center;
}

#sticker{
    border: 2px solid black;
    border-radius: 15px;
    /*position: relative;*/
    width: 50%;
    /*padding: 5px;*/
}
 .dev1{
     border: 1px solid red;
 }

 .dev2{
     border: 1px solid aqua;
 }
/*img{
    position:absolute;
    top: 70px;
    right: 2px;
    width: 150px;
    height: auto;
}*/
