/*Stylesheet for sticker*/

h1{
    text-align: center;
}

#sticker{
    border: 2px solid #000;
    border-radius: 15px;
    width: 50%;
    padding: 5px;
    position: relative;

    .alert{
        padding-top: 0;
        padding-bottom: 0;
    }

    .row{
        p:nth-child(3){
            font-style: italic;
        }

        img{
            position: absolute;
            left: -100px;
            top: -20px;
            border: none;
        }
    }
}
