/*Stylesheet for sticker*/

body, html{
    margin: 0;
}



#sticker{
    margin: 10px 0 0 10px;
    border-right: 2px dashed #000;
    border-bottom: 2px dashed #000;
    width: 45%;
    padding: 5px;

    h1{
        font-size: 22px;
        color: #a2d0d8;
        position: absolute;
        top: 18px;
        left: 100px;
    }

    .alert{
        padding-top: 0;
        padding-bottom: 0;
    }

    .row{
        p:nth-child(3){
            font-style: italic;
        }

        img{
            margin-left: 35px;
            border: none;
            width: 60px;
        }
    }

    .glyphicon{
        position: absolute;
        top: 230px;
        font-size: 22px;
        z-index: 10;
    }
}
