<footer id="footer" class="js-waypoint">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12 text-center">
                <p><small>&copy; 2017 Les Livres Voyageurs | <a href="{{ url('livresVoyageurs_mentions') }}">Mentions légales</a> <br> Créé par 
                    <a href="http://loicgallay.com" title="Site personnel de Loic Gallay">Loic Gallay</a> et
                    <a href="http://lauradev.com" title="Site personnel de Laura Traoré">Laura Traoré</a> </small>
                </p>
            </div>  <!-- col-md -->

        </div> <!-- row -->
    </div>  <!-- container -->
</footer>
