{#
Template for an email message sent to authorize a password reset.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    Modification de votre mot de passe
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

Modifier votre mot de passe.

Cliquez sur le lien ci-dessous pour changer votre mot de passe: {{url}}



_______________________________________________________________
Vous n'avez pas demandé la réinitialisation votre mot de passe?

Si vous n'avez pas demandé à réinitialiser votre mot de passe, il est probable qu'un autre utilisateur ai saisit votre nom d'utilisateur ou votre adresse e-mail par erreur. Si c'est le cas, vous n'avez pas besoin de prendre d'autres mesures et vous pouvez en toute sécurité supprimer cet email.

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}

{%- block body_html -%}

    <h3>Modifier votre mot de passe.</h3>

    <p>

        <a href="{{url}}">Cliquez ici pour réinitialiser votre mot de passe</a>.

    </p>

    <hr style="margin-top: 30px;"/>
    <p>
        <strong>Vous n'avez pas demandé la réinitialisation votre mot de passe?</strong>
        <br/>
        Si vous n'avez pas demandé à réinitialiser votre mot de passe, il est probable qu'un autre utilisateur a saisi votre nom d'utilisateur ou votre adresse e-mail par erreur. Si c'est le cas, vous n'avez pas besoin de prendre d'autres mesures et vous pouvez en toute sécurité supprimer cet email.
    </p>

{%- endblock -%}
