{#
Template for an email message sent to authorize a password reset.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    Modification de votre mot de passe
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

Modifier votre mot de passe.

Cliquez sur le lien ci-dessous pour changer votre mot de passe:



_______________________________________________________________
Vous n'avez pas demandé la réinitialisation votre mot de passe?

Si vous n'avez pas demandé à réinitialiser votre mot de passe, il est probable qu'un autre utilisateur ai saisit votre nom d'utilisateur ou votre adresse e-mail par erreur. Si c'est le cas, vous n'avez pas besoin de prendre d'autres mesures et vous pouvez en toute sécurité supprimer cet email.

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}

{%- block body_html -%}
        <head>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        </head>
        <body>
            <div id="mailBody" class="col-sm-8 col-sm-offset-2">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="text-center">Mot de passe perdu ?</h3>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p>
                            <div class="alert alert-info text-center">
                                <strong><a href="{{url}}" class="">Cliquez ici pour réinitialiser votre mot de passe.</a></strong>
                            </div>
                        </p>
                    </div>
                </div>

                <hr/>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="text-justify">
                            <strong>Vous n'avez pas demandé la réinitialisation votre mot de passe?</strong>
                            <br/>
                            Si vous n'avez pas demandé à réinitialiser votre mot de passe, il est probable qu'un autre utilisateur a saisi votre nom d'utilisateur ou votre adresse e-mail par erreur. Si c'est le cas, vous n'avez pas besoin de prendre d'autres mesures et vous pouvez en toute sécurité supprimer cet email.
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="col-sm-4">
                            <img src="{{image}}" alt="logo livres voyageurs" class="img img-responsive">
                        </div>
                        <div class="col-sm-8">
                            <h3>
                                Les Livres Voyageurs
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <style media="screen">
                body{
                    background-color: #f4f5f9;
                }
                hr{
                    margin-top: 50px;
                    margin-bottom: 50px;
                }

                #mailBody{
                    background-color: #fff;
                    padding: 5px;
                    border-radius: 10px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                h3{
                    font-size: 30px;
                    margin-top: 50px;
                }
                p{
                    font-size: 17px;
                }

                a{
                    font-size: 17px;
                }

            </style>
        </body>

{%- endblock -%}
