{% block sticker %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Etiquette</title>
            <link rel="stylesheet" href="css/bootstrap.css">
            <link rel="stylesheet" href="css/sticker.css">
        </head>
        <body>
            <h1>
                Les livres voyageurs
            </h1>
            <div id="sticker">
                <div class="row dev1">
                    <div class="col-xs-3 dev1">
                        <img src="images/logo.png" alt="logo livres voyageurs" class="img img-thumbnail img-responsive">
                    </div>
                    <div class="col-xs-6 dev2">
                        <p>
                            Si vous avez trouvez ce livre, merci de vous rendre sur www.livresVoyageurs.com et saisissez le numéro unique figurant sur cette étiquette.
                        </p>
                    </div>
                </div>
                <!-- <span><img src="images/logo.png" alt=""></span>
                <div id="texte">
                    <p>
                        Si vous avez trouvez ce livre, merci de vous rendre sur le site livresVoyageurs afin de saisir le numéro unique figurant sur cette étiquette.
                    </p>
                    <p>
                        Titre: {{ title }}
                    </p>
                    <p>
                        Numéro unique : {{ uniqueId }}
                    </p>
                    <p>
                        Libéré le: {{ 'now' | date("d/m/Y") }}
                    </p>
                </div> -->

            </div>

        </body>
    </html>
{% endblock %}
