{% block sticker %}
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Etiquette</title>
            <link rel="stylesheet" href="css/sticker.css">
        </head>
        <body>
            <h1>
                Les livres voyageurs
            </h1>
            <div id="sticker">
                <span><img src="images/logo.png" alt=""></span>
                <div id="texte">
                    <p>
                        Si vous avez trouvez ce livre, merci de vous rendre sur le site livresVoyageurs afin de saisir le numéro unique figurant sur cette étiquette.
                    </p>
                    <p>
                        Titre du livre
                    </p>
                    <p>
                        Numéro unique : 12345678
                    </p>
                </div>

            </div>

        </body>
    </html>
{% endblock %}
