{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{# Define Title #}
{% block title %} Administration {% endblock %}


{# Define Content #}
{% block content %}


    <div class="row">

        <h1> Administration </h1>

    </div>

{% endblock %}