{# This page inherits from base.html #}
{% extends 'layout.html.twig' %}

{#  Define Title #}
{% block title %} Connexion Administrateur {% endblock %}


{# Define Content #}
{% block content %}


    <div class="row">

        Connexion Admin

    </div>

{% endblock %}